In [70]:
import pandas as pd
import os
from termcolor import colored
from IPython.display import display, HTML
import numpy as np

# 1. ÂÆö‰ΩçÂà∞ music_artist ÁõÆÂΩï (Locate the music_artist directory)
current_dir = os.path.dirname(os.path.abspath('__file__'))
project_root = os.path.abspath(os.path.join(current_dir, ".."))
artist_data_dir = os.path.join(project_root, 'data', 'music_artist')

# 2. Ëé∑ÂèñËØ•ÁõÆÂΩï‰∏ãÊâÄÊúâÁöÑ CSV Êñá‰ª∂ (Get all CSV files in the directory)
# ‰ΩøÁî® listdir Âπ∂ËøáÊª§ÂêéÁºÄÂêç
artist_files = [f for f in os.listdir(artist_data_dir) if f.endswith('.csv')]

# 3. ÊâπÈáèÂØºÂÖ•Âà∞Â≠óÂÖ∏ (Batch import into a dictionary)
artist_dfs = {}

print(colored(f"Starting import from: {artist_data_dir}", 'blue'))

for file_name in artist_files:
    file_path = os.path.join(artist_data_dir, file_name)
    # ‰ΩøÁî®Êñá‰ª∂Âêç‰Ωú‰∏∫ Key
    key = file_name.replace('.csv', '')

    try:
        # ÂØºÂÖ•Êï∞ÊçÆ
        # Ê≥®ÊÑèÔºöËøô‰∫õÊñá‰ª∂ÁöÑÁªìÊûÑÂèØËÉΩ‰∏çÂêåÔºåÂª∫ËÆÆÂÖà‰∏çÊåáÂÆöÁâπÂÆöÁöÑ dtypeÔºåÊàñËÄÖÁî® low_memory=False
        artist_dfs[key] = pd.read_csv(file_path, low_memory=False)
        print(colored(f"‚úÖ Imported: {key} | Shape: {artist_dfs[key].shape}", 'green'))
    except Exception as e:
        print(colored(f"‚ùå Error importing {file_name}: {e}", 'red'))

# 4. Âø´ÈÄüÊü•ÁúãÁªìÊûú (Quickly verify results)
print(f"\nTotal artist files loaded: {len(artist_dfs)}")

Starting import from: /Users/jesse/Desktop/DA_prj1_Music/data/music_artist
‚úÖ Imported: query | Shape: (50000, 6)
‚úÖ Imported: top10k-spotify-artist-metadata | Shape: (10000, 13)
‚úÖ Imported: Global Music Artists | Shape: (101375, 6)

Total artist files loaded: 3

In [71]:
# Âæ™ÁéØÊü•Áúã artist_dfs Â≠óÂÖ∏ÈáåÁöÑÊØè‰∏Ä‰∏™Ë°®
for name, df in artist_dfs.items():
    # 1. ÂàõÂª∫‰∏Ä‰∏™ÈÜíÁõÆÁöÑ HTML ËìùËâ≤Ê†áÈ¢ò
    display(HTML(f"""
        <div style="background-color: #e6f3ff; padding: 10px; border-radius: 5px; border-left: 5px solid #2196F3; margin-top: 20px;">
            <h3 style="color: #0d47a1; margin: 0;">üìä Dataset: {name}</h3>
            <p style="margin: 5px 0 0 0; color: #555;">Shape: {df.shape[0]:,} rows √ó {df.shape[1]} columns</p>
        </div>
    """))

    # 2. ÊâìÂç∞ Basic Info (Êï∞ÊçÆÁ±ªÂûã„ÄÅÈùûÁ©∫ÂÄºÁªüËÆ°)
    print(colored(f"\n>>> [{name}] Info:", 'blue', attrs=['bold']))
    df.info()

    # 3. ÁæéÂåñÂ±ïÁ§∫ Describe (Êï∞ÂÄºÂàóÁªüËÆ°ÊëòË¶Å)
    # ‰ΩøÁî® .T (ËΩ¨ÁΩÆ) ÊòØÂõ†‰∏∫Â¶ÇÊûúÂàóÊï∞ÂæàÂ§öÔºåÊ®™ÂêëÊéíÂàó‰ºöÂæàÈöæÁúãÔºåËΩ¨ÁΩÆÂêéÊõ¥Á¨¶ÂêàÈòÖËØª‰π†ÊÉØ
    print(colored(f"\n>>> [{name}] Statistical Summary (Transposed):", 'blue', attrs=['bold']))
    display(df.describe(include='all').T)

    print("-" * 80)

>>> [query] Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   item              50000 non-null  object
 1   itemLabel         50000 non-null  object
 2   genderLabel       49948 non-null  object
 3   citizenshipLabel  49184 non-null  object
 4   birth_date        48145 non-null  object
 5   death_date        15302 non-null  object
dtypes: object(6)
memory usage: 2.3+ MB

>>> [query] Statistical Summary (Transposed):

                  count unique                                     top   freq
item              50000  44372  http://www.wikidata.org/entity/Q926680     12
itemLabel         50000  44151                            Evelyn Preer     12
genderLabel       49948     17                                    male  28796
citizenshipLabel  49184    344                           United States  11590
birth_date        48145  22313                    2000-01-01T00:00:00Z    544
death_date        15302   9577                    2000-01-01T00:00:00Z     34

--------------------------------------------------------------------------------

>>> [top10k-spotify-artist-metadata] Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10000 non-null  int64
 1   index       10000 non-null  int64
 2   artist      10000 non-null  object
 3   gender      8248 non-null   object
 4   age         10000 non-null  int64
 5   type        8248 non-null   object
 6   country     6646 non-null   object
 7   city_1      693 non-null    object
 8   district_1  12 non-null     object
 9   city_2      3274 non-null   object
 10  district_2  188 non-null    object
 11  city_3      207 non-null    object
 12  district_3  17 non-null     object
dtypes: int64(3), object(10)
memory usage: 1015.8+ KB

>>> [top10k-spotify-artist-metadata] Statistical Summary (Transposed):

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Unnamed: 0,10000.0,NaN,NaN,NaN,4999.5,2886.89568,0.0,2499.75,4999.5,7499.25,9999.0
index,10000.0,NaN,NaN,NaN,1917.5908,1320.064221,0.0,833.0,1666.0,2830.25,4995.0
artist,10000,9832,Sky,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gender,8248,4,male,4457,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age,10000.0,NaN,NaN,NaN,18.7675,20.583693,0.0,0.0,14.0,33.0,149.0
type,8248,2,person,5982,NaN,NaN,NaN,NaN,NaN,NaN,NaN
country,6646,103,US,1271,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city_1,693,252,London,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
district_1,12,7,Brooklyn,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city_2,3274,1243,Los Angeles,109,NaN,NaN,NaN,NaN,NaN,NaN,NaN
district_2,188,82,Brooklyn,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city_3,207,111,Los Angeles,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
district_3,17,10,Manhattan,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

--------------------------------------------------------------------------------

>>> [Global Music Artists] Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101375 entries, 0 to 101374
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   artist_name   101375 non-null  object
 1   artist_genre  101375 non-null  object
 2   artist_img    101375 non-null  object
 3   artist_id     101375 non-null  object
 4   country       101375 non-null  object
 5   Unnamed: 5    0 non-null       float64
dtypes: float64(1), object(5)
memory usage: 4.6+ MB

>>> [Global Music Artists] Statistical Summary (Transposed):

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
artist_name,101375,101375,Coldplay,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
artist_genre,101375,27959,hip hop,35404,NaN,NaN,NaN,NaN,NaN,NaN,NaN
artist_img,101375,94607,https://media.istockphoto.com/id/1298261537/ve...,6540,NaN,NaN,NaN,NaN,NaN,NaN,NaN
artist_id,101375,101375,4gzpq5DPGxSnKTe4SA8HAU,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
country,101375,188,United States,33032,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

--------------------------------------------------------------------------------

In [72]:
# clean query
# ÊâãÂä®ÊèêÂèñÂá∫ÁâπÂÆöÁöÑ DataFrame Âπ∂Ëµã‰∫àÊñ∞ÂêçÂ≠ó
df_global = artist_dfs['Global Music Artists']
df_query = artist_dfs['query']
df_spotify = artist_dfs['top10k-spotify-artist-metadata']

df_query = df_query.drop(columns=['item'])

df_query.columns = ['art_name', 'gender', 'area', 'birth', 'death']
# Â∞ÜÊó∂Èó¥ÈáçÁΩÆ‰∏∫ÂΩìÊó•Èõ∂ÁÇπ (Normalize to midnight)
df_query['birth'] = pd.to_datetime(df_query['birth'], errors='coerce').dt.normalize()
df_query['death'] = pd.to_datetime(df_query['death'], errors='coerce').dt.normalize()

df_query['gender'] = df_query['gender'].astype('category')
print(df_query['gender'].dtype)

category

In [73]:
# clean global music artists
df_global = df_global.drop(columns=['artist_img', 'artist_id'])
df_global.dropna(axis=1, how='all', inplace=True)

df_global.columns = ['art_name', 'art_genre', 'area']

In [74]:
# clean top10k spotify artist metadata
df_spotify = df_spotify.drop(columns=['index', 'district_1', 'district_2', 'district_3'])
df_spotify.dropna(axis=1, how='all', inplace=True)

df_spotify.drop(columns=['Unnamed: 0', '<anonymous>'], inplace=True, errors='ignore')
# Â∞ÜÊâÄÊúâÁöÑ 'n/a' ÊõøÊç¢‰∏∫ÁúüÊ≠£ÁöÑÁ©∫ (NaN)
df_spotify.replace('n/a', np.nan, inplace=True)

# ÂÅáËÆæ‰Ω†ÊÉ≥ÊääÂêàÂπ∂ÂêéÁöÑÁªìÊûúÂ≠òÂÖ•Êñ∞Âàó 'final_city'
df_spotify['final_city'] = df_spotify['city_1'].combine_first(df_spotify['city_2']).combine_first(df_spotify['city_3'])

df_spotify.drop(columns=['city_1', 'city_2', 'city_3'], inplace=True)

df_spotify.columns = ['art_name', 'gender', 'age', 'art_type', 'area', 'city']

# ËΩ¨Êç¢‰∏∫Á±ªÂà´Âûã (Category)
df_spotify['gender'] = df_spotify['gender'].astype('category')

# È™åËØÅÁªìÊûú
print(df_spotify['gender'].dtype)

df_spotify.info()

category
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   art_name  10000 non-null  object
 1   gender    8248 non-null   category
 2   age       10000 non-null  int64
 3   art_type  8248 non-null   object
 4   area      6646 non-null   object
 5   city      3711 non-null   object
dtypes: category(1), int64(1), object(4)
memory usage: 400.7+ KB

In [75]:
# 1. ÊîæÂÖ•‰Ω†ÊãÜÂàÜÂ•ΩÁöÑÂèòÈáèÂàóË°®
dataframes = {
    'Global Table': df_global,
    'Query Table': df_query,
    'Spotify Table': df_spotify
}

for name, df in dataframes.items():
    # ËÆ°ÁÆóÁº∫Â§±ÂÄºÂíåÂç†ÊØî
    null_stats = pd.DataFrame({
        'Missing Count': df.isnull().sum(),
        'Percentage (%)': (df.isnull().sum() / len(df) * 100).round(2)
    })

    # ÊâìÂç∞ÁæéÂåñË°®Â§¥
    print("\n" + "=" * 50)
    print(colored(f"üìä Quality Audit: {name}", 'cyan', attrs=['bold']))
    print(f"Total Rows: {len(df):,} | Columns: {len(df.columns)}")
    print("-" * 50)

    # Âè™ÊòæÁ§∫ÊúâÁº∫Â§±ÁöÑÂàó
    missing_only = null_stats[null_stats['Missing Count'] > 0].sort_values('Percentage (%)', ascending=False)

    if not missing_only.empty:
        print(missing_only)
    else:
        print(colored("‚úÖ Perfect: No missing values found.", 'green'))

print("=" * 50)

==================================================
üìä Quality Audit: Global Table
Total Rows: 101,375 | Columns: 3
--------------------------------------------------
‚úÖ Perfect: No missing values found.

==================================================
üìä Quality Audit: Query Table
Total Rows: 50,000 | Columns: 5
--------------------------------------------------
        Missing Count  Percentage (%)
death           34873           69.75
birth            2114            4.23
area              816            1.63
gender             52            0.10

==================================================
üìä Quality Audit: Spotify Table
Total Rows: 10,000 | Columns: 6
--------------------------------------------------
          Missing Count  Percentage (%)
city               6289           62.89
area               3354           33.54
gender             1752           17.52
art_type           1752           17.52
==================================================

In [76]:
# Âæ™ÁéØÊü•Áúã dataframes Â≠óÂÖ∏ÈáåÁöÑÊØè‰∏Ä‰∏™Ë°®
for name, df in dataframes.items():
    # 1. ÂàõÂª∫‰∏Ä‰∏™ÈÜíÁõÆÁöÑ HTML ËìùËâ≤Ê†áÈ¢ò
    display(HTML(f"""
        <div style="background-color: #e6f3ff; padding: 10px; border-radius: 5px; border-left: 5px solid #2196F3; margin-top: 20px;">
            <h3 style="color: #0d47a1; margin: 0;">üìä Dataset: {name}</h3>
            <p style="margin: 5px 0 0 0; color: #555;">Shape: {df.shape[0]:,} rows √ó {df.shape[1]} columns</p>
        </div>
    """))

    # 2. ÊâìÂç∞ Basic Info (Êï∞ÊçÆÁ±ªÂûã„ÄÅÈùûÁ©∫ÂÄºÁªüËÆ°)
    print(colored(f"\n>>> [{name}] Info:", 'blue', attrs=['bold']))
    df.info()

    # 3. ÁæéÂåñÂ±ïÁ§∫ Describe (Êï∞ÂÄºÂàóÁªüËÆ°ÊëòË¶Å)
    # ‰ΩøÁî® .T (ËΩ¨ÁΩÆ) ÊòØÂõ†‰∏∫Â¶ÇÊûúÂàóÊï∞ÂæàÂ§öÔºåÊ®™ÂêëÊéíÂàó‰ºöÂæàÈöæÁúãÔºåËΩ¨ÁΩÆÂêéÊõ¥Á¨¶ÂêàÈòÖËØª‰π†ÊÉØ
    print(colored(f"\n>>> [{name}] Statistical Summary (Transposed):", 'blue', attrs=['bold']))
    display(df.describe(include='all').T)

    print("-" * 80)

>>> [Global Table] Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101375 entries, 0 to 101374
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   art_name   101375 non-null  object
 1   art_genre  101375 non-null  object
 2   area       101375 non-null  object
dtypes: object(3)
memory usage: 2.3+ MB

>>> [Global Table] Statistical Summary (Transposed):

            count  unique            top   freq
art_name   101375  101375       Coldplay      1
art_genre  101375   27959        hip hop  35404
area       101375     188  United States  33032

--------------------------------------------------------------------------------

>>> [Query Table] Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   art_name  50000 non-null  object
 1   gender    49948 non-null  category
 2   area      49184 non-null  object
 3   birth     47886 non-null  datetime64[ns, UTC]
 4   death     15127 non-null  datetime64[ns, UTC]
dtypes: category(1), datetime64[ns, UTC](2), object(2)
memory usage: 1.6+ MB

>>> [Query Table] Statistical Summary (Transposed):

,count,unique,top,freq,mean,min,25%,50%,75%,max
art_name,50000,44151,Evelyn Preer,12,NaN,NaN,NaN,NaN,NaN,NaN
gender,49948,17,male,28796,NaN,NaN,NaN,NaN,NaN,NaN
area,49184,344,United States,11590,NaN,NaN,NaN,NaN,NaN,NaN
birth,47886,NaN,NaN,NaN,1954-10-07 19:36:47.091843072+00:00,1679-04-02 00:00:00+00:00,1941-11-23 06:00:00+00:00,1961-10-10 00:00:00+00:00,1977-04-29 00:00:00+00:00,2008-01-01 00:00:00+00:00
death,15127,NaN,NaN,NaN,1990-02-28 02:05:45.078336768+00:00,1677-11-11 00:00:00+00:00,1980-08-10 00:00:00+00:00,2002-05-20 00:00:00+00:00,2014-05-01 00:00:00+00:00,2025-12-16 00:00:00+00:00

--------------------------------------------------------------------------------

>>> [Spotify Table] Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   art_name  10000 non-null  object
 1   gender    8248 non-null   category
 2   age       10000 non-null  int64
 3   art_type  8248 non-null   object
 4   area      6646 non-null   object
 5   city      3711 non-null   object
dtypes: category(1), int64(1), object(4)
memory usage: 400.7+ KB

>>> [Spotify Table] Statistical Summary (Transposed):

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
art_name,10000,9832,Sky,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gender,8248,4,male,4457,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age,10000.0,NaN,NaN,NaN,18.7675,20.583693,0.0,0.0,14.0,33.0,149.0
art_type,8248,2,person,5982,NaN,NaN,NaN,NaN,NaN,NaN,NaN
area,6646,103,US,1271,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city,3711,1249,Los Angeles,146,NaN,NaN,NaN,NaN,NaN,NaN,NaN

--------------------------------------------------------------------------------

In [77]:
# 1. È¢ÑÂ§ÑÁêÜÔºöÁîüÊàêÊ∏ÖÊ¥óÂêéÁöÑÂåπÈÖçÈîÆ
def create_artist_key(df, col_name):
    return df[col_name].astype(str).str.lower().str.replace(r'[^a-z0-9]', '', regex=True)


df_global['match_key'] = create_artist_key(df_global, 'art_name')
df_query['match_key'] = create_artist_key(df_query, 'art_name')
df_spotify['match_key'] = create_artist_key(df_spotify, 'art_name')

# 2. ËÆæÁΩÆÁ¥¢Âºï‰ª•‰æõ combine_first ÂØπÈΩê
df_global.set_index('match_key', inplace=True)
df_query.set_index('match_key', inplace=True)
df_spotify.set_index('match_key', inplace=True)

# 3. Ë°•ÈΩêÂêàÂπ∂Ôºö‰ª• Spotify ‰∏∫‰∏ªÔºå‰æùÊ¨°Âêë Query Âíå Global Ë¶ÅÊï∞ÊçÆ
df_final = df_spotify.combine_first(df_query).combine_first(df_global)

# 4. ÊÅ¢Â§çÁ¥¢ÂºïÂπ∂Ê∏ÖÁêÜ
df_final.reset_index(inplace=True)

In [78]:
# 1. Áªü‰∏Ä‰∏ªÈîÆÂπ∂ÁîüÊàêÊ∏ÖÊ¥óÂêéÁöÑ match_key (ÂÖ≥ÈîÆÔºÅ)
def get_clean_key(df, col):
    return df[col].astype(str).str.lower().str.replace(r'[^a-z0-9]', '', regex=True)


df_global['m_key'] = get_clean_key(df_global, 'art_name')
df_query['m_key'] = get_clean_key(df_query, 'art_name')
df_spotify['m_key'] = get_clean_key(df_spotify, 'art_name')

# 1. Á°Æ‰øù‰∏âÂº†Ë°®ÈÉΩÊúâÁªü‰∏ÄÁöÑÊ∏ÖÊ¥óÈîÆ
# 2. „ÄêÂÖ≥ÈîÆÊ≠•È™§„ÄëÂ∞Ü m_key ËÆæ‰∏∫Á¥¢Âºï
df_g_idx = df_global.set_index('m_key')
df_q_idx = df_query.set_index('m_key')
df_s_idx = df_spotify.set_index('m_key')

# 3. Ê£ÄÊü•Á¥¢ÂºïÊòØÂê¶ÂîØ‰∏ÄÔºàÂ¶ÇÊûúËøîÂõû FalseÔºåËØ¥ÊòéÂçïË°®ÂÜÖÂ∞±ÊúâÈáçÂ§çÊ≠åÊâãÔºâ
print(f"Global Á¥¢ÂºïÂîØ‰∏ÄÂêó: {df_g_idx.index.is_unique}")

# 4. ÂÜçÊ¨°ÊâßË°åÂêàÂπ∂
# combine_first ‰ºöÊ†πÊçÆÂàöÊâçËÆæÂ•ΩÁöÑ index Ëá™Âä®Êâæ‰∫∫ÂØπÈΩê
df_final = df_s_idx.combine_first(df_q_idx).combine_first(df_g_idx)

# 5. Ê≠§Êó∂ÁúãË°åÊï∞ÔºåÂ∫îËØ•ËøúÂ∞è‰∫é 31‰∏á
df_final.reset_index(inplace=True)
print(f"ÁúüÊ≠£ÂêàÂπ∂ÂêéÁöÑÊ≠åÊâãÊÄªÊï∞: {len(df_final)}")
df_final.info()

Global Á¥¢ÂºïÂîØ‰∏ÄÂêó: False
ÁúüÊ≠£ÂêàÂπ∂ÂêéÁöÑÊ≠åÊâãÊÄªÊï∞: 311858
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311858 entries, 0 to 311857
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   m_key      311858 non-null  object
 1   age        178443 non-null  float64
 2   area       308400 non-null  object
 3   art_genre  269246 non-null  object
 4   art_name   311858 non-null  object
 5   art_type   89062 non-null   object
 6   birth      216229 non-null  datetime64[ns, UTC]
 7   city       24878 non-null   object
 8   death      15129 non-null   datetime64[ns, UTC]
 9   gender     224990 non-null  object
dtypes: datetime64[ns, UTC](2), float64(1), object(7)
memory usage: 23.8+ MB